<% provide(:title, 'Welcome to FTGG Events')%>  
<div class="row">
	<div class="span12">
		
		<div class="intro" width="960px" height="400px">
			<div align="center">
			<br>
			Welcome to Social Blueprint Web site.  We are one stop shop for nonprofit information.
			<br><br>Place holder for pictures and content
			</div>
		</div>
	</div>
</div>	