<% provide(:title, 'Welcome to FTGG Events')%>  
<div class="row">
	<div class="span12">
		
		<div class="intro" width="960px">
			<div align="center">
			<br>
			<h2>Nonprofit information at your finger tips</h2>
			<%= link_to "Find Best Events", events_path, class: "btn btn-primary btn-large" %>
			</div>
		</div>
	</div>
</div>	