@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* forms */

/*input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 400px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;  
}*/

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group.error;
}

#map-canvas { 
  width: 600px; 
  height: 300px;
  border: 1px solid;
}

/* Header */
.navbar-inner {
  padding: 10px 5px 10px 5px;
  background-image: none;
  background: white;
  border: 0;
}

a#logo.brand {
  color: #FF3300;
  font-weight: bold;
}

.navbar .brand {
  margin-left: 0;
}

.content {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

/* Content*/
.intro {
  padding: 10px 10px 10px 10px;
  min-height: 400px;
  border: 1px solid #d8d8d8;
}

/* footer */
footer {
  background-color: #e5e5e5;
  font-size: 14px;
  line-height: 1.6;
  height: 70px;
  padding: 10px 0;
  border-top: 1px solid #d8d8d8;
  color: #666;
}

#about_us_links .chevrons a {
color: #666667;
font-size: 14px;
}

#about_us_links .chevrons a:before {
content: "\00bb\00a0";
}