<footer>
	<div class="f_container">
		<div class="row">
			<div class="span4" id="about_us_links">
				<div class="row">
					<div class="span1">About Us</div>
				</div>
				<div class="row chevrons">
					<div class="span2"><a href="/about#contact">Contact</a></div>
					<div class="span2"><a href="/faq">FAQ</a></div>
				</div>
				<div class="row chevrons">
					<div class="span2">
						<a href="https://twitter.com/supatra.indhara" rel="external" target="_blank">Twitter</a>
					</div>
					<div class="span2"><a href="https://www.facebook.com/" rel="external" target="_blank">Facebook</a></div>
				</div>
			</div>
			<div class="span4 padded">
				&nbsp;
				<!--<div id="mc_embed_signup">
					<form action="" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="novalidate" target="_blank">
					<div class="newsletter-note">Join our mailing list!</div>
					<div class="mc-field-group">
						<input class="required email" id="mce-EMAIL" name="EMAIL" placeholder="Your Email Address" type="email" value="">
						<input name="u" type="hidden" value="4ee1aaad2e315a0de585af615">
						<input name="id" type="hidden" value="e85a9249f3">
						<input class="button" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Submit">
					</div>
					</form>
				</div>-->
			</div>
			<div class="span4 pull-right">
				<div class="row padded">© 2013 Chance for Good.</div>
				<div class="row"><a href="/privacy">Privacy</a> | <a href="/terms">Terms of Use</a></div>
			</div>
		</div>
	</div>
</footer>